.help-section {
  padding: 0;
  padding-top: 10rem;
  background: linear-gradient(to bottom, #{fade-out(#f8f9fa, 0)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-help.jpg');
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  .form-inline {
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}
